In [5]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import requests
from bs4 import BeautifulSoup
from selenium.webdriver.common.by import By

In [6]:



all_contents=[]
for i in range(1,200):
    #https://www.glassdoor.com/Explore/browse-companies.htm?overall_rating_low=3.5&page=970&filterType=RATING_DIVERSITY_AND_INCLUSION
    driver= webdriver.Chrome()
    #driver. get("https://www.glassdoor.com/Explore/top-companies-diversity-and-inclusion_IF.14,37_IFID103.htm")
    driver. get(f"https://www.glassdoor.com/Explore/browse-companies.htm?overall_rating_low=3.5&page={i}&filterType=RATING_DIVERSITY_AND_INCLUSION")
    cu=driver.current_url
    cont = driver.page_source
    time.sleep(2)

    company_name=[]
    reviews=[]
    cu=driver.current_url
    cont = driver.page_source

    soup = BeautifulSoup(cont, 'html.parser')
    

    all_contents.append(soup.find(attrs={'class':'col-md-8'}))

In [7]:

import re
import pandas as pd

frames=[]
for content in all_contents:
    # Example HTML string
    html_string = str(content)

    # Regular expression pattern
    pattern = r'<h2 data-test="employer-short-name">(.*?)</h2>'

    # Using re.findall to find all matches of the pattern in the string
    matches = re.findall(pattern, html_string)

  


    pattern1 = r'<span class="pr-xsm ratingsWidget__RatingsWidgetStyles__rating" data-test="rating"><b>(.*?)</b></span>'

    # Using re.findall to find all matches of the pattern in the string
    matches2 = re.findall(pattern1, html_string)


    



    # Regular expression pattern
    pattern3 = r'<span class="ratingsWidget__RatingsWidgetStyles__ratingType">(.*?)</span>'

    # Using re.findall to find all matches of the pattern in the string
    matches3 = re.findall(pattern3, html_string)

    

    #filter diversity rating
    div=[]
    for i in range(0,len(matches2)):
        if(matches3[i]=='Diversity &amp; Inclusion'):
            div.append(matches2[i])



    df=pd.DataFrame({'company':matches,'rating':div})
    frames.append(df)


result = pd.concat(frames)
result = result.reset_index(drop=True)
result

          company rating
0          Amazon    4.0
1        Deloitte    4.1
2         Walmart    3.6
3      McDonald's    3.7
4          Target    4.0
...           ...    ...
1975  Brooksource    3.9
1976        eTeam    3.9
1977         Lids    3.5
1978  Jenny Craig    3.5
1979       Waters    3.7

[1980 rows x 2 columns]

In [9]:
result.to_excel('company_ratings.xlsx', index=False)

In [8]:
result.to_csv('company_ratings.csv', index=False)